<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.unic.rbac.dao.mapper.ISysPermissionMapper">

    <!--字段映射-->
    <resultMap id="sysPermissionMap" type="com.hb.unic.rbac.dao.dobj.SysPermissionDO">
        <result column="permission_name" property="permissionName"/>
        <result column="resource_type" property="resourceType"/>
        <result column="permission_value" property="permissionValue"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_valid" property="isValid"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectById" resultMap="sysPermissionMap">
        select *
        from sys_permission
        where id = #{id}
    </select>

    <!--查询集合-->
    <select id="selectList" resultMap="sysPermissionMap">
        select * from sys_permission
        <include refid="whereCondition"/>
        order by update_time desc
    </select>

    <!--查询总条数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from sys_permission
        <include refid="whereCondition"/>
    </select>

    <!--分页条件查询-->
    <select id="selectPages" resultMap="sysPermissionMap">
        select * from sys_permission
        <include refid="whereCondition"/>
        order by update_time desc
        limit #{pc.startIndex}, #{pc.pageSize}
    </select>

    <!--通过id集合查询-->
    <select id="selectByIdSet" resultMap="sysPermissionMap">
        select * from sys_permission
        <include refid="whereCondition"/>
        and id in
        <foreach collection="idSet" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!--通过id集合分页查询-->
    <select id="selectCountByIdSet" resultMap="sysPermissionMap">
        select count(1) from sys_permission
        <include refid="whereCondition"/>
        <if test="idSet!=null and idSet.size()>0">
            and id in
            <foreach collection="idSet" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <!--通过id集合分页查询-->
    <select id="selectPagesByIdSet" resultMap="sysPermissionMap">
        select * from sys_permission
        <include refid="whereCondition"/>
        <if test="idSet!=null and idSet.size()>0">
            and id in
            <foreach collection="idSet" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by update_time desc
        limit #{pc.startIndex}, #{pc.pageSize}
    </select>

    <!--通过主键修改-->
    <update id="updateById">
        update sys_permission
        <include refid="updateFields"/>
        where id = #{qc.id}
    </update>

    <!--通过主键物理删除-->
    <update id="deleteById">
        update sys_permission
        set is_valid = 0
        where id = #{qc.id}
    </update>

    <!--选择性的新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qc.permissionName != null and qc.permissionName != ''">
                permission_name,
            </if>
            <if test="qc.resourceType != null and qc.resourceType != ''">
                resource_type,
            </if>
            <if test="qc.permissionValue != null and qc.permissionValue != ''">
                permission_value,
            </if>
            <if test="qc.icon != null and qc.icon != ''">
                icon,
            </if>
            <if test="qc.url != null and qc.url != ''">
                url,
            </if>
            <if test="qc.id != null">
                id,
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                create_by,
            </if>
            <if test="qc.createTime != null">
                create_time,
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                update_by,
            </if>
            <if test="qc.updateTime != null">
                update_time,
            </if>
            <if test="qc.isValid != null">
                is_valid,
            </if>
            <if test="qc.parentId != null">
                parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qc.permissionName != null and qc.permissionName != ''">
                #{qc.permissionName},
            </if>
            <if test="qc.resourceType != null and qc.resourceType != ''">
                #{qc.resourceType},
            </if>
            <if test="qc.permissionValue != null and qc.permissionValue != ''">
                #{qc.permissionValue},
            </if>
            <if test="qc.icon != null and qc.icon != ''">
                #{qc.icon},
            </if>
            <if test="qc.url != null and qc.url != ''">
                #{qc.url},
            </if>
            <if test="qc.id != null">
                #{qc.id},
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                #{qc.createBy},
            </if>
            <if test="qc.createTime != null">
                #{qc.createTime},
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                #{qc.updateBy},
            </if>
            <if test="qc.updateTime != null">
                #{qc.updateTime},
            </if>
            <if test="qc.isValid != null">
                #{qc.isValid},
            </if>
            <if test="qc.parentId != null">
                #{qc.parentId},
            </if>
        </trim>
    </insert>

    <!--条件查询-->
    <sql id="whereCondition">
        <where>
            is_valid = 1
            <if test="qc.permissionName != null and qc.permissionName != ''">
                and permission_name like concat('%', #{qc.permissionName}, '%')
            </if>
            <if test="qc.resourceType != null and qc.resourceType != ''">
                and resource_type = #{qc.resourceType}
            </if>
            <if test="qc.permissionValue != null and qc.permissionValue != ''">
                and permission_value like concat('%', #{qc.permissionValue}, '%')
            </if>
            <if test="qc.icon != null and qc.icon != ''">
                and icon = #{qc.icon}
            </if>
            <if test="qc.url != null and qc.url != ''">
                and url = #{qc.url}
            </if>
            <if test="qc.id != null">
                and id = #{qc.id}
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                and create_by = #{qc.createBy}
            </if>
            <if test="qc.createTime != null">
                and create_time = #{qc.createTime}
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                and update_by = #{qc.updateBy}
            </if>
            <if test="qc.updateTime != null">
                and update_time = #{qc.updateTime}
            </if>
            <if test="qc.isValid != null">
                and is_valid = #{qc.isValid}
            </if>
            <if test="qc.parentId != null">
                and parent_id = #{qc.parentId}
            </if>
        </where>
    </sql>

    <!--更新字段sql-->
    <sql id="updateFields">
        <set>
            <if test="qc.permissionName != null and qc.permissionName != ''">
                permission_name = #{qc.permissionName},
            </if>
            <if test="qc.resourceType != null and qc.resourceType != ''">
                resource_type = #{qc.resourceType},
            </if>
            <if test="qc.permissionValue != null and qc.permissionValue != ''">
                permission_value = #{qc.permissionValue},
            </if>
            <if test="qc.icon != null and qc.icon != ''">
                icon = #{qc.icon},
            </if>
            <if test="qc.url != null and qc.url != ''">
                url = #{qc.url},
            </if>
            <if test="qc.id != null">
                id = #{qc.id},
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                create_by = #{qc.createBy},
            </if>
            <if test="qc.createTime != null">
                create_time = #{qc.createTime},
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                update_by = #{qc.updateBy},
            </if>
            <if test="qc.updateTime != null">
                update_time = #{qc.updateTime},
            </if>
            <if test="qc.isValid != null">
                is_valid = #{qc.isValid},
            </if>
            <if test="qc.parentId != null">
                parent_id = #{qc.parentId},
            </if>
        </set>
    </sql>

</mapper>
