<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.unic.rbac.dao.mapper.ISysUserRoleMapper">

    <!--字段映射-->
    <resultMap id="sysUserRoleMap" type="com.hb.unic.rbac.dao.dobj.SysUserRoleDO">
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <update id="deleteByUserId">
        update sys_user_role
        set is_valid = 0
        where user_id = #{userId}
    </update>

    <!--查询单个-->
    <select id="selectById" resultMap="sysUserRoleMap">
        select *
        from sys_user_role
        where id = #{id}
    </select>

    <!--查询集合-->
    <select id="selectList" resultMap="sysUserRoleMap">
        select * from sys_user_role
        <include refid="whereCondition"/>
        order by update_time desc
    </select>

    <!--查询总条数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from sys_user_role
        <include refid="whereCondition"/>
    </select>

    <!--分页条件查询-->
    <select id="selectPages" resultMap="sysUserRoleMap">
        select * from sys_user_role
        <include refid="whereCondition"/>
        order by update_time desc
        limit #{pc.startIndex}, #{pc.pageSize}
    </select>

    <!--通过id集合查询-->
    <select id="selectByRoleIdSet" resultMap="sysUserRoleMap">
        select * from sys_user_role
        where role_id in
        <foreach collection="roleIdSet" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!--通过主键修改-->
    <update id="updateById">
        update sys_user_role
        <include refid="updateFields"/>
        where id = #{qc.id}
    </update>

    <!--通过主键物理删除-->
    <update id="deleteById">
        update sys_user_role
        set is_valid = 0
        where id = #{id}
    </update>

    <!--选择性的新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qc.userId != null">
                user_id,
            </if>
            <if test="qc.roleId != null">
                role_id,
            </if>
            <if test="qc.id != null">
                id,
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                create_by,
            </if>
            <if test="qc.createTime != null">
                create_time,
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                update_by,
            </if>
            <if test="qc.updateTime != null">
                update_time,
            </if>
            <if test="qc.isValid != null">
                is_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qc.userId != null">
                #{qc.userId},
            </if>
            <if test="qc.roleId != null">
                #{qc.roleId},
            </if>
            <if test="qc.id != null">
                #{qc.id},
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                #{qc.createBy},
            </if>
            <if test="qc.createTime != null">
                #{qc.createTime},
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                #{qc.updateBy},
            </if>
            <if test="qc.updateTime != null">
                #{qc.updateTime},
            </if>
            <if test="qc.isValid != null">
                #{qc.isValid},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch">
        insert into sys_user_role(user_id,role_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>

    <!--条件查询-->
    <sql id="whereCondition">
        <where>
            is_valid = 1
            <if test="qc.userId != null">
                and user_id = #{qc.userId}
            </if>
            <if test="qc.roleId != null">
                and role_id = #{qc.roleId}
            </if>
            <if test="qc.id != null">
                and id = #{qc.id}
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                and create_by = #{qc.createBy}
            </if>
            <if test="qc.createTime != null">
                and create_time = #{qc.createTime}
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                and update_by = #{qc.updateBy}
            </if>
            <if test="qc.updateTime != null">
                and update_time = #{qc.updateTime}
            </if>
            <if test="qc.isValid != null">
                and is_valid = #{qc.isValid}
            </if>
        </where>
    </sql>

    <!--更新字段sql-->
    <sql id="updateFields">
        <set>
            <if test="qc.userId != null">
                user_id = #{qc.userId},
            </if>
            <if test="qc.roleId != null">
                role_id = #{qc.roleId},
            </if>
            <if test="qc.id != null">
                id = #{qc.id},
            </if>
            <if test="qc.createBy != null and qc.createBy != ''">
                create_by = #{qc.createBy},
            </if>
            <if test="qc.createTime != null">
                create_time = #{qc.createTime},
            </if>
            <if test="qc.updateBy != null and qc.updateBy != ''">
                update_by = #{qc.updateBy},
            </if>
            <if test="qc.updateTime != null">
                update_time = #{qc.updateTime},
            </if>
            <if test="qc.isValid != null">
                is_valid = #{qc.isValid},
            </if>
        </set>
    </sql>

</mapper>
